# Force pure python implementation of protobuf
SetEnv PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION python

# cPanel Passenger Configuration
PassengerAppRoot /home/joidauz/ansor.joida.uz/backend
PassengerAppType wsgi
PassengerStartupFile passenger_wsgi.py
PassengerPython /home/joidauz/virtualenv/ansor.joida.uz/backend/3.14/bin/python

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ passenger_wsgi.py [QSA,L]
